p {
  font-size: 100%;
  color: dimgray;
}

h1 {
  font-size: 120%;
  color: navyblue;
}

a:link {
  color: gray;
}

a:visited {
  color: green;
}

a:hover {
  color: rebeccapurple;
}

a:active {
  color: teal;
}

a {
  text-decoration: none;
}